// Created by stevebering on 12/7/13.

p There are {{ users.length }} users
table.table.table-striped
    thead
        tr
            th First Name
            th Last Name
            th Email Address
            th Details
    tbody
        tr(data-ng-repeat='user in users')
            td {{ user.firstName }}
            td {{ user.lastName }}
            td {{ user.emailAddress }}
            td.toolbox
                a(href='/sessions/current/user/{{user.id}}') Activity this session
                |
                a(href='/sessions/last/user/{{user.id}}') Activity last session
                |
                a(href='/user/{{user.id}}', title='Details')
                    i.fa.fa-user
                a(href='/user/edit/{{user.id}}', title='Edit')
                    i.fa.fa-pencil-square-o