// Created by stevebering on 12/7/13.

.container

    .row
        .col-md-12
            p There are {{ users.length }} users

    .row
        .col-md-12
            table.table.table-striped.table-bordered
                thead
                    tr
                        th First Name
                        th Last Name
                        th Email Address
                        th Details
                tbody
                    tr(data-ng-repeat='user in users')
                        td {{ user.firstName }}
                        td {{ user.lastName }}
                        td {{ user.emailAddress }}
                        td
                            div.btn-group-sm
                                a.btn.btn-default(href='/user/{{user.id}}', title='Details')
                                    i.fa.fa-user
                                a.btn.btn-default(href='/user/edit/{{user.id}}', title='Edit')
                                    i.fa.fa-pencil-square-o

    .row
        .col-md-12
            ul.nav.nav-pills
                li
                    a {{ users.length }} users
                li
                    a(href='#/addUser') Add User
                li
                    a(href='#/registerUser') Register