doctype 5
html(lang='en', data-ng-app='leadman')
  head
    title= title
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    //link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/components/font-awesome/css/font-awesome.min.css')

    link(rel='stylesheet', href='/stylesheets/app.css')
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.sr-only Toggle Navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='#') Leadman Triathlon
        .collapse.navbar-collapse
            ul.nav.navbar-nav(data-ng-controller="MenuController")
                li
                    a(href='#') Home
                li(data-ng-class="{'active':getClass('/users')}")
                    a(href='#/users') Users
                li(data-ng-class="{'active':getClass('/sessions')}")
                    a(href='#/sessions') Sessions

            ul.nav.navbar-nav.navbar-right(data-ng-controller='LoginController')
                li
                    a(href="#/", ng-click="logout()") Sign Out
                li
                    a(href="#/signup") Sign Up
                    li.dropdown
                        a.dropdown-toggle(href="/", data-toggle="dropdown")
                            | Sign in
                            b.caret
                        ul.dropdown-menu(style="padding: 15px;min-width: 250px;")
                            li
                                .row
                                    .col-md-12
                                        form.form(role="form", name='form', id="login-nav")
                                            .form-group
                                                label.sr-only(for="username") Username
                                                input.form-control(type="email", id="username", name='username', placeholder="Username", data-ng-model='user.usename', required='')
                                            .form-group
                                                label.sr-only(for="password") Password
                                                input.form-control(type="password", id="password",  name='password', placeholder="Password", data-ng-model='user.password', required='')
                                            .form-group
                                                button.btn.btn-success.btn-block(type="submit",
                                                    data-ng-click='login()') Sign in
                            li.divider

                            li
                                input.btn.btn-primary.btn-block(type="button", id="sign-in-google", value="Sign In with Google")

     .container
        block content

    script(type='text/javascript', src='/components/jquery/jquery.min.js')
    script(type='text/javascript', src='/components/bootstrap/dist/js/bootstrap.min.js')

    //- include angular.js and extras
    script(type='text/javascript', src='/components/angular/angular.js')
    script(type='text/javascript', src='/components/angular-route/angular-route.js')
    script(type='text/javascript', src='/components/angular-resource/angular-resource.js')

    block scripts