doctype 5
html(lang='en', data-ng-app='leadman')
  head
    title= title
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    //link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/components/font-awesome/css/font-awesome.min.css')

    link(rel='stylesheet', href='/stylesheets/app.css')
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.sr-only Toggle Navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='#') Leadman Triathlon
        .collapse.navbar-collapse(data-ng-controller="MenuController")
            ul.nav.navbar-nav
                li
                    a(href='#') Home
                li(data-ng-class="{'active':getClass('/users')}")
                    a(href='#/users') Users
                li(data-ng-class="{'active':getClass('/sessions')}")
                    a(href='#/sessions') Sessions
                li(data-ng-show='currentUser().mapmyfitnessid', data-ng-class="{'active':getClass('/splits')}", data-ng-cloak='')
                    a(href='#/splits') Workouts
                li(data-ng-show='currentUser().mapmyfitnessid', data-ng-class="{'active':getClass('/import')}", data-ng-cloak='')
                    a(href='#/import') Import

        ul.nav.navbar-nav.navbar-right(data-ng-controller='LoginController')
                li(ng-hide='loggedIn()', ng-cloak='')
                    a(href="#/signup") Sign Up
                li.dropdown(ng-hide='loggedIn()', ng-cloak='')
                    a.dropdown-toggle(href="/", data-toggle="dropdown")
                        | Sign in
                        b.caret
                    ul.dropdown-menu(style="padding: 15px;min-width: 250px;")
                        li
                            .row
                                .col-md-12
                                    form.form(role="form", name='form', id="login-nav")
                                        .form-group
                                            label.sr-only(for="username") Username
                                            input.form-control(type="email", id="username", name='username', placeholder="Username", data-ng-model='user.username', required='')
                                        .form-group
                                            label.sr-only(for="password") Password
                                            input.form-control(type="password", id="password",  name='password', placeholder="Password", data-ng-model='user.password', required='')
                                        .form-group
                                            button.btn.btn-success.btn-block(type="submit",
                                                data-ng-click='login()') Sign in
                        li.divider

                        li
                            input.btn.btn-primary.btn-block(type="button", id="sign-in-google", value="Sign In with Google")

                li.dropdown.active#profile(ng-show='loggedIn()', ng-cloak='')
                    a.dropdown-toggle(href='/', data-toggle='dropdown')
                        span.fa.fa-user &nbsp;
                        | {{ currentUser().firstName }}
                        b.caret
                    ul.dropdown-menu
                        li
                            a(href="#")
                                span.fa.fa-user &nbsp;
                                | Profile
                        li
                            a(href="#")
                                span.fa.fa-gear &nbsp;
                                | Settings
                        li.divider

                        li
                            a(href="#", ng-click="logout()")
                                span.fa.fa-sign-out &nbsp;
                                | Sign Out

     .container
        block content

     .container
        hr
        .row
            .col-lg-12
                .col-md-4
                    ul.list-unstyled
                        li
                            a(href='https://github.com/stevebering/leadmanTriathlon-node') GitHub
                        li
                        li
                .col-md-4
                    ul.list-unstyled
                        li
                            | Version &nbsp;
                            span(data-app-version='')
                        li
                        li
                .col-md-4
                    ul.list-unstyled
                        li
                        li
                        li
        hr
        .row
            .col-lg-12
                .col-md-8
                    a(href='#') Terms of Service &nbsp;
                    a(href='#') Privacy &nbsp;
                    a(href='#') Security &nbsp;

                .col-md-4
                    p.muted.pull-right &copy; 2013 Steve Bering. All rights reserved.

    script(type='text/javascript', src='/components/jquery/jquery.min.js')
    script(type='text/javascript', src='/components/bootstrap/dist/js/bootstrap.min.js')

    //- include angular.js and extras
    script(type='text/javascript', src='/components/angular/angular.js')
    script(type='text/javascript', src='/components/angular-route/angular-route.js')
    script(type='text/javascript', src='/components/angular-resource/angular-resource.js')
    script(type='text/javascript', src='/components/angular-flash/dist/angular-flash.js')
    script(type='text/javascript', src='/components/momentjs/moment.js')
    script(type='text/javascript', src='/js/date.js')

    block scripts