body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.toolbox a {
    padding-right: 3px;
}

/* body { margin-top:30px; } */
#login-nav input { margin-bottom: 15px; }

#profile > a {
    background-color: #080808
}